@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
}
.nav-box{
    position: sticky;
    top: 0;
    background-color: #ffcdb2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 1rem; */
}
.to-home{
    font-size: xx-large;
    font-weight: 700;
}
.nav-item{
    /* background-color: #ffb4a2; */
    /* border: solid #b5838d; */
    padding: 0.8rem;
    margin: 0 0.5rem;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.nav-item:hover{
    /* border: solid #e5989b; */
    background-color: #e5989b;
    padding: 0.8rem;
    border-radius: 15px;
}
main{
    height: 100vh;
    margin: 2rem 0;
    /* background-color: antiquewhite; */
}
.student-title{
    margin-bottom: 0.5rem;
    /* color: #6d6875; */
    text-align: center;
}
.line{
    width: 25%;
    height: 0.2rem;
    background-color: #6d6875;
    margin-bottom: 2rem;
}
.sad-img{
    width: 15rem;
    height: 14rem;
}
table, th, td {
    border: solid #6d6875;
    border-collapse: collapse;
}
table{
    margin-bottom: 2rem;
    text-align: center;
}
th, td {
    padding: 15px;
}
th {
    background-color: #b5838d;
}

tr {
    background-color: #e5989b;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}
.add-student{
    display: block;
    background-color: #ffcdb2;
    border: solid #ffcdb2;
    width: 50%;
    padding: 1rem;
    /* margin: auto 1rem 0; */
    border-radius: 15px;
    text-align: center;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.add-student:hover{
    border: solid #b5838d;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #ffcdb2;
}
.email{
    text-decoration: none;
    color: black;
}
.box-login{
    padding: 1rem;
    background-color: #ffcdb2;
    border: solid #b5838d;
}